body{
    overflow-x: fixed;
}
h1, p, h5, a, button, label{
    font-family: "Poppins";
}
p{
    font-size: 14px;
}
/* navbar a tag */
.dropdown-item,.nav-link:hover{
    color: #EC1E64;
}
/* home page heading */
.home_heading{
    font-size: 85px;
    margin-top: 150px;
}
/* home page content */
.home_content{
    margin-top: 150px;
}
/* home page a tag */
div ul a{
    color: #EC1E64;
}
/* home page a tag hover */
div ul a:hover{
    text-decoration: none;
}
/* horizontal line */
.hor_line{  
  border-top: 5px solid #e20750;
  width: 50px;
}
/* service name h1 font size */
.name_services{
    font-size: 60px;
}
/* get in touch button */
.btn_get_in_touch{
    font-size: x-small;
    background: #EC1E64;
    width: 120px;
    height: 45px;
    color: white;
    border:none;
}
/* get in touch button hover */
.btn_get_in_touch:hover{
    /* font-size: small; */
    background: white;
    width: 120px;
    height: 45px;
    color: #EC1E64;
    border:none;
    box-shadow: -1px 38px 80px 6px rgba(173,173,173,1);
    -webkit-box-shadow: -1px 38px 80px 6px rgba(173,173,173,1);
    -moz-box-shadow: -1px 38px 80px 6px rgba(173,173,173,1);
}
/* cards box-shadow */
.card-img:hover{
    box-shadow: 13px 11px 0px 2px rgba(236,30,100,1);
    -webkit-box-shadow: 13px 11px 0px 2px rgba(236,30,100,1);
    -moz-box-shadow: 13px 11px 0px 2px rgba(236,30,100,1);
    transition: 0.8s;
}
.scroll_down{
    color: rgb(134, 135, 135);
}
/* scroll down a tag hover */
.scroll_down:hover{
    color: #EC1E64;
    text-decoration: none;
}
/* our process cards */
.our_process_card{
    border : 3px solid #EFEFEF
}
/* our process cards hover*/
.our_process_card:hover{
    border: 3px solid #EC1E64;
    transition: 0.6s;
}
.icons{
    height: 40px;
    width: 40px;
    color: #EC1E64;
    border: 2px solid #EC1E64;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
}
.icons:hover{
    background-color: #EC1E64;
    color: white;
}
input{
    height: 40px;
    border: 3px solid #EFEFEF;
    border-radius: 5px;
}
input:focus{
    border: 3px solid #EC1E64;
    outline: none;
}
textarea{
    height: 150px;
    border: 3px solid #EFEFEF;
    border-radius: 5px;
}
textarea:focus{
    border: 3px solid #EC1E64;
    outline: none;
}
.contact_icons{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 2px solid #EFEFEF;
    text-align: center;
    padding-top: 37px;
}
.footer_icons{
    height: 40px;
    width: 40px;
    color: white;
    background-color: #EC1E64;
    border: 2px solid #EC1E64;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
}
.footer_a a{
    text-decoration: none;
    display: flex;
    color: #6C757D;
}
.footer_a a:hover{
    color: black;
}
.footer_contact a{
    text-decoration: none;
    color: #6C757D;
}
.footer_contact a:hover{
    color: black;
}
.footer_copyright{
    display: flex;
    justify-content: space-between;
}
/* medium devices and some laptop devices */
@media (min-width:501px) and (max-width:1000px){
    /* home page heading */
    .home_heading{
        font-size: 50px;
        margin-top: 100px;
    }

}
/* medium devices */
@media (min-width:500px) and (max-width:750px){
    .footer_copyright{
        display: inline;
    }
}


/* small devices */
@media (min-width:280px) and (max-width:500px){
    /* home page heading */
    .home_heading{
        font-size: 25px;
        margin-top: 100px;
    }
    .footer_copyright{
        display: inline;
    }
}